input[type="submit"]{
        width:200px;
        height:50px;
        }

input.ono{
		    margin-left: 50%;
		    border-radius:5px;
		    }
		    
		    td.haruka{
		    color:#ff0000;
		    
		    }
		    
		    input.txt{
		    margin: 10px 10px;
		    border:solid;
		    }
		    
		    input.add{
		    border:solid;
		    height:150px;
		    }
		    
		    td.yohaku{
		    padding: 20px;
		    }
		    
		    input[type="submit"]{
		    background-color:silver;
		    border-radius;
		    width:120px;
		    height:30px;
		    }
		    
		    
		    
		    td.del{
		    border: none;
		    }
		    
		    td.jen{
		    text-align:left;
		    }
		    
		    textarea.huto{
		    width:300px;
		    height:30px;
		    border:2px solid #000000;
		    resize:none;
		    }