 body{
	 font-size:14px;
     }

 img{
    border-style:none;
    }


 span.orange{
	font-size:15px;
	color:#FF8C00;
   }

 h1 {
    color:#228B22;
}
   
 div{
         margin:8px;
    }
   